body{
    background-color: FFFFFF;
    margin:0;
    font-weight: 400;
    color: 15161A;
    font-family: Helvetica Neue, sans-serif;
}

h1{
  font-weight: 400;
  font-size: 2.4vw;
  color: 15161A;
  font-family: 'Hedvig Letters Serif', Times, serif;
}

h2{
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 130%;
  color: 15161A;
  font-family: Helvetica Neue, sans-serif;
}

h3{
  font-size: 1.5vw;
  font-weight: 500;
  margin: 0;
  /* line-height: 200%; */
  padding-top: 1vw;
  padding-bottom: 0.5vw;
  color: 15161A;
  font-family: Helvetica Neue, sans-serif;
}

a{
    font-style: italic;
    text-decoration: none;
    /* color: 404451; */
}

html {
  scroll-behavior: smooth; 
}


/* ------------------------------ */
/* ------------ MENU ------------ */
/* ------------------------------ */
.menu {
  width: 100vw; 
  height:2vw; 
  min-height: 20px;
  padding-top: 2vw; 
  padding-bottom: 1vw; 
  padding-left: 15vw; 
  padding-right: 15vw; 
  background: rgb(255, 255, 255); 
  justify-content: center; 
  align-items: center; 
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.menu-left{
  width: 10vw; 
  justify-content: flex-start; 
  align-items: center; 
  display: flex;
  position:fixed;
  left: 3vw;
}

.menu-right{
  justify-content: flex-start; 
  align-items: center; 
  gap: 3vw; 
  display: flex;
  position:fixed;
  right: 0vw;
  margin-right: 3vw;
}

.menu a{
  font-style: normal;
}

.menu a:hover{
  font-style: italic;
}


#home {
  width: 5vw; 
  height: 4vw; 
  bottom: 0;
  overflow: hidden;
  position:relative;
  display:flex;
  word-wrap: break-word;
  justify-content: center;
  align-items: flex-end;
  text-align:center;
}

#select {
  width: 10vw; 
  height: 0px; 
  border: 0.15vw #15161A solid;
  position:absolute;
  bottom: 0;
}

.right-item {
  width: 10vw; 
  height: 4vw; 
  overflow: hidden;
  position:relative;
  bottom: 0;
  display:flex;
  word-wrap: break-word;
  justify-content: center;
  align-items: flex-end;
  text-align:center;
}
  

/* ------------------------------ */
/* ----------- STARS ------------ */
/* ------------------------------ */


#star1{
  position:relative;
  width: 4vw;
  margin-left: 0vw;
}
#star1:hover{
  animation: bounce 2s;
}

#star2{
  position:relative;
  width: 5vw;
}
#star2:hover{
  animation: bounce 2s;
}


#star3{
  position:relative;
  width: 5.5vw;
}
#star3:hover{
  animation: bounce 2s;
}


#star4{
  position:relative;
  width: 5vw;
}
#star4:hover{
  animation: bounce 2s;
}


#star5{
  position:relative;
  width: 5.5vw;
}
#star5:hover{
  animation: bounce 2s;
}


#star6{
  position:relative;
  width: 5vw;
}
#star6:hover{
  animation: bounce 2s;
}


#star7{
  position:relative;
  width: 5.5vw;
}
#star7:hover{
  animation: bounce 2s;
}

#star8{
  position:relative;
  width: 5.5vw;
}
#star8:hover{
  animation: bounce 2s;
}



.bounce img{
  width: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
}

.bounce{
  width: 100vw; 
  height: 20vw; 
  padding-left: 4vw; 
  padding-right: 3vw; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 6vw; 
  display: inline-flex;
  animation: bounce 2s 1;
}


@keyframes bounce {
	0%, 10%, 30%, 60%, 80%, 100% {transform: translateY(0);}
	20% {transform: translateY(-10vh);}
	40% {transform: translateY(-5vh);}
}

#container{
  overflow:hidden;
  margin-top: -1.5vh;
}
/* ------------------------------ */
/* ----------- COVER ------------ */
/* ------------------------------ */
#cover{
    position:absolute;
    /* background-color: D7DBEB; */
    width: 100vw;
    height: calc(100vh - (100vh / 12) - 0.2vh);
    margin:0;
    margin-top: calc(100vh / 12 + 0.2vh);
    margin-left:0vw;
    z-index: 0;
}

#mia{
    position:absolute;
    margin-top: calc(10vh - (100vh / 12));
    margin-left: calc((100vw - 60vw) / 2);
    letter-spacing: 0.5vw;
    width: 60vw; 
    height: 15vw; 
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mia h1{
  font-size: 6vw;
}

#phone-text{
  display:none;
}

#phone-contact{
  display:none;
}

#scroll{
  position:absolute;
  margin-left: calc((100vw - 3vw) / 2);
  width:3vw;
  margin-top: 40vh;
  z-index: 10;
}
#scroll img{
  width: 100%;
}

/* ------------------------------ */
/* ----------- INTRO ------------ */
/* ------------------------------ */


#intro-content{
  width:60vw; 
  height: 30vw; 
  position:relative;
  /* margin-top: calc(40vh - 30vw/2); */
  justify-content: flex-start; 
  align-items: center; 
  gap: 7vw; 
  display: inline-flex;
}

#intro{
  margin-top: calc((100vh / 12 + 0.2vh) + 100vh);
  position:absolute;
  width: 100vw;
  height:calc(100vh - (100vh / 12) - 0.2vh);
  justify-content: center;
  align-items: center;
  text-align: center;
}

#me{
  padding-top: 2vh;
  width: 15vw; 
}

#me img{
  width: 100%;
}

#intro-text{
  flex: 1 1 0; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 0vw;
  display: inline-flex;
  text-align: left;
}

#intro h1{
 word-wrap: break-word;
}

#intro h2{
  align-self: stretch;
  word-wrap: break-word;
  color: 404451;
}



/* ------------------------------ */
/* -------- CASE STUDIES -------- */
/* ------------------------------ */

.case-title{
  margin-top: 5vw;
  position:absolue;
  margin-left: -46vw;
}

#case-container{
  margin-left: -22vw;
  /* height:40vw; */
  justify-content: flex-start; 
  align-items: center; 
  gap: 5vw; 
  display: inline-flex;
  padding-left: calc((100vw - 22vw - 22vw - 22vw - 5vw - 5vw) / 2);
  /* margin-top: -8vw; */
  /* position:absolute; */
}

#case-container a{
  font-style: normal;
}

.case{
  width: 22vw; 
  padding-top: 15vw; 
  box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.1); 
  border-radius: 0.5vw; 
  overflow: hidden; 
  /* border: 0.1vw solid; */
  background-size: contain;
  flex-direction: column; 
  align-items: center; 
}

#explorer{
  background-image: url('./images/explorermock.png'); 
  background-position-x: center;
  background-position-y: -1.8vw;
  background-size: 65%;
  background-repeat: no-repeat;
  background-color: #fbe7f8;
}


#pathatpenn{
  background-image: url('./images/p@pmock.png'); 
  background-position-y: -0.8vw;
  background-color: #D7DBEB;
}

.case-text{
  align-self: stretch; 
  padding-left: 1.2vw; 
  padding-right: 1vw; 
  padding-top: 0vw; 
  padding-bottom: 0.5vw; 
  background: white; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
}

.case-text h3{
  font-size: 1.5vw;
  margin-bottom: -0.5vw;
}

.case-text h2{
  font-size: 0.8vw;
  font-weight: 400;
  color: #606060;
  margin-bottom: 0vw;
  text-align: left;
}

.case-text p{
  font-size: 1vw;
  text-align: left;
  color:black;
}


/* ------------------------------------ */
/* ------------NARROW SCREEN----------- */
/* ------------------------------------ */
@media only screen and (max-aspect-ratio: 1/1){
  #home{
    width: 20vw;
  }

  .right-item{
    width: 20vw;
  }

  .menu h3{
    font-size: 3vw;
  }

  #mia{
    margin-top: 20vh;
    width: 80vw;
    margin-left: 10vw;
    display: block;
    text-align: center;
  }

  #mia h1{
    font-size: 10vw;
  }

  #scroll{
    display: none;
  }

  #intro{
    display: none;
  }

  #phone-text{
    display:block;
    width: 80vw;
    margin-top: 30vh;
    text-align: center;
  }
  

  #phone-text p{
    font-family: 'Hedvig Letters Serif', Times, serif;
    letter-spacing: 0.2vw;
    font-size: 4vw;
    margin-top: -2vh;
    color: #885421;
  }

  #phone-contact{
    display:block;
    width: 80vw;
    margin-top: 1vh;
    text-align: center;
  }

  #phone-contact p{
    font-family: 'Hedvig Letters Serif', Times, serif;
    letter-spacing: 0.1vw;
    font-size: 3vw;
    margin-top: -2.55vh;
    text-align: center;
  }


  }