body{
    background-color: #FFF9ED;
    margin:0;
    font-weight: 400;
    color: #15161A;
    font-family: Helvetica Neue, sans-serif;
}

h1{
    font-family: DM sans, sans-serif; 
    font-weight: 500;
    font-size: 1.8vw; 
}

.sent{
    color: #000000;
    background-color: #E5E5EA;
    padding: 2vh 2vw;
    border-radius: 2vw 2vw 2vw 0vw;
    display: table;
    max-width: 60%;
    margin-left: 0;
    text-align: left;
}

.recieved{
    color: #ffffff; 
    background-color: #007AFF;
    padding: 2vh 2vw;
    border-radius: 2vw 2vw 0vw 2vw;
    display: table;
    max-width: 60%;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

p {
    color: #D31A1A; 
    font-size: 1.4vw; 
    font-family: DM Sans, sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
}

html {
    scroll-behavior: smooth; 
}

#banner{
    width: 100vw;
    height: 6vh;
    border-bottom: 0.1vw solid #f4ecdb;
    color: #D31A1A; 
    font-size: 1.5vw; 
    font-family: DM Sans, sans-serif; 
    font-weight: 300; 
    margin-top: 2.5vh;
}

#banner-name{
    position:absolute;
    margin-left: 3vw;
}

#banner-class{
    position:absolute;
    margin-left: 88vw;
}

#cover{
    position:relative;
    width: 60vw;
    margin-top: 10vh;
    margin-left:20vw;
    z-index: 0;
    text-align: center;
}

#cover p{
    margin-top: 10vh;
}

#message-tomato1{
    position: absolute;
    margin-top: -20vh;
    margin-left:28vw;
    width: 10vw;
}

#message-tomato1 img{
    width: 100%;
    transform: rotate(100deg);
}

#message-tomato2{
    position: absolute;
    margin-top: -8vh;
    margin-left:52vw;
    width: 8vw;
}

#message-tomato2 img{
    width: 100%;
    transform: rotate(-20deg);
}

/* ------------------------------------ */
/* ---------INDIVIDUAL TOMATOES-------- */
/* ------------------------------------ */

#orange1{
    position: absolute;
    margin-top: -70vh;
    margin-left:-16vw;
    width: 15vw;
}

#orange1 img{
    width: 100%;
    transform: rotate(-20deg);
}

#orange2{
    position: absolute;
    margin-top: -60vh;
    margin-left:68vw;
    width: 10vw;
}
#orange2 img{
    width: 100%;
    transform: rotate(30deg);
}

#red1{
    position: absolute;
    margin-top: -52vh;
    margin-left:0vw;
    width: 10vw;
}
#red1 img{
    width: 100%;
}

#red2{
    position: absolute;
    margin-top: -5vh;
    margin-left:60vw;
    width: 18vw;
}
#red2 img{
    width: 100%;
    transform: rotate(30deg);
}

#red3{
    position: absolute;
    margin-top: -1vh;
    margin-left:-3vw;
    width: 10vw;
}
#red3 img{
    width: 100%;
}

#yellow2{
    position: absolute;
    margin-top: -30vh;
    margin-left:-13vw;
    width: 12vw;
}
#yellow2 img{
    width: 100%;
}

#yellow3{
    position: absolute;
    margin-top: -75vh;
    margin-left:43vw;
    width: 15vw;
}
#yellow3 img{
    width: 100%;
    transform: rotate(30deg);
}

#yellow4{
    position: absolute;
    margin-top: -25vh;
    margin-left:40vw;
    width: 15vw;
}
#yellow4 img{
    width: 100%;
    transform: rotate(-40deg);
}

/* ------------------------------------ */
/* ---------ZIP DOWNLOAD BUTTON-------- */
/* ------------------------------------ */
.button {
    color: #ffffff;
    background-color: #D31A1A;
    border: none;
    border-radius: 1vw;
    width: 20vw;
    cursor: pointer;
    box-shadow: 0 0.3vw 0 #8f1010;
    transition: all 0.1s ease;
    margin-top: 2vh;
}

.button h1{
    padding: 0.6vw 0vw;
    font-size: 1.5vw;
}

.button:hover {
    background-color: #e52a2a;
}

.button:active {
    box-shadow: 0 2px 0 #8f1010;
    transform: translateY(4px);
}

/* ------------------------------------ */
/* ------------NARROW SCREEN----------- */
/* ------------------------------------ */
@media only screen and (max-aspect-ratio: 1/1){

    h1 {
        font-size: 4vw;
    }

    p {
        font-size: 3.5vw;
    }

    #banner {
        font-size: 4vw;
        height: 8vh;
        margin-top: 1.5vh;
    }

    #banner-name {
        margin-left: 5vw;
    }

    #banner-class {
        margin-left: 70vw;
    }

    #cover {
        width: 90vw;
        margin-left: 5vw;
        margin-top: 5vh;
    }

    #cover p {
        margin-top: 5vh;
    }

    .sent {
        padding: 2vh 4vw;
        border-radius: 4vw 4vw 4vw 0vw;
        max-width: 80%;
    }

    .recieved {
        padding: 2vh 4vw;
        border-radius: 4vw 4vw 0vw 4vw;
        max-width: 80%;
        margin-bottom: 3vh;
    }



    .button {
        width: 60vw;
        border-radius: 3vw;
        box-shadow: 0 1vw 0 #8f1010;
    }

    .button h1 {
        font-size: 4.5vw;
        padding: 2vw 0;
    }


    #message-tomato1{
    position: absolute;
    margin-top: -20vh;
    margin-left:45vw;
    width: 20vw;
    }
    #message-tomato2{
        position: absolute;
        margin-top: -5vh;
        margin-left:52vw;
        width: 15vw;
    }
    #orange1{
        position: absolute;
        margin-top: -60vh;
        margin-left:30vw;
        width: 20vw;
    }
    #orange2{
        position: absolute;
        margin-top: -60vh;
        margin-left:68vw;
        width: 20vw;
    }
    #red1{
        position: absolute;
        margin-top: -45vh;
        margin-left:0vw;
        width: 20vw;
    }
    #red2{
        position: absolute;
        margin-top: -5vh;
        margin-left:70vw;
        width: 26vw;
    }
    #red3{
        position: absolute;
        margin-top: -1vh;
        margin-left:-3vw;
        width: 20vw;
    }
    #yellow2{
        position: absolute;
        margin-top: -20vh;
        margin-left:-3vw;
        width: 22vw;
    }
    #yellow3{
        position: absolute;
        margin-top:  10vh;
        margin-left:63vw;
        width: 25vw;
    }
    #yellow4{
        position: absolute;
        margin-top: -25vh;
        margin-left:70vw;
        width: 25vw;
    }
}
